section{
    display:flex;
    flex-flow:row wrap;
    margin-top: 10px;
    justify-content: center;
}
input{
    flex: 6;
    margin-left:5px;
    justify-self: center;
}
button[name=clear]{
    flex:1;
    justify-self: start;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
}
/*Anchor Radio Buttons*/
section div{
    margin:0 25px;
}
input[name=repeat],input[name=anchor]{
    flex:initial;
    margin:0 25px;
}
.space{
    margin-top:20px;
}
.interval{
    flex:1;
    height:30px;
}
p{
    flex:6;
    text-align: right;
}
.info{
    text-align: center;
    margin:8px;
}
h1{
    text-decoration:underline;
}
/*Volume Control*/
output[for="volume"]{
    font-weight: bold;
}