section{
    display:flex;
    flex-flow:row wrap;
    flex-direction: row;
}
input{
    flex: 6;
    margin-left:5px;
    justify-self: center;
}
button[name=clear]{
    flex:1;
    justify-self: start;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
}
.file{
    flex:3;
    color:transparent;
}
.interval{
    flex:3;
    height:30px;
}
p{
    flex:6;
    text-align: right;
}
.info{
    text-align: center;
    margin:8px;
}
h1{
    text-decoration:underline;
}
